
body {
	background: lightyellow;
}

.cardsLine {
    display: flex;
    justify-content: center;
}

.buttonLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.card {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color:salmon;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

#endGame {
    display: flex;
    align-items: center;
    justify-content: center;
}

